.container{
    max-width:1200px;
    height:100vh;
    padding:20px;
}
.flex{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:30px;
}
ul{
    list-style:none;
}



/* css adding in the header part */
header{
    background-color:white;
    width:90%;
    position:fixed;
    top:0;
}
a{
   text-decoration: none; 
}
/* css added in the form */

form{
    margin:25px 500px;
    max-width:max-content;
}
h1{
    margin-left:250px;
}

/* css for table */

table {
    border-spacing: 0 10px; /* The first value (0) is for column spacing, the second (30px) is for row spacing */
}
#table h1{
    margin:55px 550px;
}

