


.container{
    min-width:1200px;
    height:100vh;
    padding:20px;
    /* background-color:whitesmoke; */
    background-color: #f1dfd3;
}
.heading{
    position:relative;
    top:400px;
    left:250px;
    
}
.flex{
    display:flex;
    
}
ul{
    list-style:none;
    flex-direction: row;
    justify-content:end;
    gap:40px;
}
ul a{
    color:purple;
    font-weight:bold;
}
a:hover{
    color:blue;

}
a:focus{
    color:red;
}
.first-page{
    background-color:rgba(159,223,181,255);
}

.gif{
    width:500px;
    height:500px;
    position:relative;
    left:800px;
    top:100px;
}
.gifs{
    position:relative;
    top:50px;
}


/* css adding in the header part */
header{
    /* background-color:white; */
    width:100%;
    position:fixed;
    top:0;
    background-color:beige;
}
a{
   text-decoration: none; 
   margin-right:20px;
}
/* css added in the form */

form{
    margin:25px 500px;
    max-width:max-content;
}
.form-table{
    border:none;
}
.form-table td{
    border:none;
}

 form h1{
    margin-left:250px;
}

/* css for table */

/* table {
    border-spacing: 0 10px; The first value (0) is for column spacing, the second (30px) is for row spacing
} */
#table h1{
    margin:55px 550px;
}
.first-table{
    border:2px solid black;
    border-collapse:collapse;
    position:relative;
    left:150px;

}
tr,th,td{
    border:1px solid black;
    padding:5px;
}
.rotate{
    transform: rotate(-90deg);
}
.rotate1{
    transform:rotate(90deg);
}
.second-table{
    border:2px solid black;
    border-collapse:collapse;
    position:relative;
    left:750px;
    bottom:200px;
}
img{
    height: 120px;
    width: 120px;
}

/* css for video */
#video h1{
    margin:55px 550px;
}
#video{
    padding:50px;
}
/* css for images */
#images{
    display:flex;
    flex-direction:row;
    gap:150px;
    padding:50px;
}
#images h1{
    position:relative;
    top:20px;
    left:600px;
    /* margin:0 auto; */
}
.first-img{
    width:500px;
    height:300px;
    display:flex;
    flex-wrap:wrap;
    position:relative;
    top:100px;

}

.second-img{
    width:500px;
    height:300px;
    display:flex;
    flex-wrap:wrap;
    position:relative;
    top:100px; 
}

#audio h1{
    position:relative;
    top:20px;
    left:600px;
    /* margin:0 auto; */
}



