
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: fit-content;
}
.container{
    /* max-width:1550px; */
    width:clamp(140px,auto,fit-content);
    border: 1px solid red;
    height:100vh;
    padding:20px;
    /* background-color:whitesmoke; */
    background-color: #f1dfd3;
}
.topic{
    position:relative;
    top:20px;
    left:600px;
}
.heading{
    position:relative;
    top:400px;
    left:250px;
    font-size:40px;
    
}
 .sidebar{
    flex-direction:column;
    background-color:#f1dfd3;
    max-width:50px;
    height:100vh; 
    padding:10px;
    gap:50px;
    position:relative;
    top:100px;  
} 


.flex{
    display:flex;
    
}
ul{
    list-style:none;
    flex-direction: row;
    justify-content:end;
    gap:40px;
}
ul a{
    color:purple;
    font-weight:bold;
}
a:hover{
    color:blue;

}
a:focus{
    color:red;
}
.first-page{
    background-color:rgba(159,223,181,255);
}

.gif{
    width:450px;
    height:450px;
    position:relative;
    left:800px;
    top:80px;
}
.gifs{
    position:relative;
    /* top:350px;
    left: 350px; */
}
.giftss{
    position:relative;
bottom: 300px;
left: 100px;
width:300px;
height:300px;
}


/* css adding in the header part */
header{
    
    width:100%;
    height:45px;
    padding:5px;
    position:fixed;
    top:0;
    background-color:beige;
    z-index:1;
}
a{
   text-decoration: none; 
   margin-right:20px;
}
.heading2{
    width:400px;
    height:150px;
    padding:25px;
    border-radius:100%;
    border:2px solid black;
    position:relative;
    left:850px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.heading2 h1{
    text-align: center;

}
/* css added in the form */


.forms{
    /* max-width:max-content; */
    padding:15px;
    flex-direction:row;
    gap:100px;
}
fieldset{
    background-color: whitesmoke;
    border-radius:10px;
    box-shadow:10px 10px 10px 10px  gray;
    position:relative;
    bottom:15px;

}

.form-table , .second-form{
    border:none;
}
.form-table td{
    border:none;
}
.second-form td{
    border:none;
}
.second-form tr{
    border:none;
}
.second-form th{
    border:none;
}
.second-form{
    border:2px solid black;
    background-color:whitesmoke;
    padding:10px;
    border-radius:10px;
    box-shadow:10px 10px 10px 10px  gray;
    position:relative;
    top:50px;


}



/* css for table */

#table{
    padding:20px;
}

.first-table{
    border:2px solid black;
    border-collapse:collapse;
    position:relative;
    left:150px;
    top:50px;
    box-shadow:10px 10px 10px 10px  gray;


}
tr,th,td{
    border:1px solid black;
    padding:5px;
}
.rotate{
    transform: rotate(-90deg);
}
.rotate1{
    transform:rotate(90deg);
}
.second-table{
    border:2px solid black;
    border-collapse:collapse;
    position:relative;
    left:750px;
    bottom:150px;
    box-shadow:10px 10px 10px 10px  gray;

}


/* css for video */
#video{
    padding:20px;
}
video{
    border:2px solid black;
    box-shadow:10px 10px 10px 10px  gray;
    margin:10px;
}
.videos{
    position:relative;
    top:15px;

}
/* css for images */
#images{
    display:flex;
    flex-direction:row;
    gap:150px;
}
.first-img{
    width:500px;
    height:300px;
    /* padding:30px; */
    display:flex;
    flex-wrap:wrap;
    position:relative;
    top:100px;
}

.second-img{
    width:500px;
    height:300px;
    display:flex;
    flex-wrap:wrap;
    position:relative;
    top:100px; 
}

img{
    height: 120px;
    width: 120px;
}
 img {
    transition: transform 0.3s ease-in-out;
  }
  
 img:hover {
    transform: scale(1.2); /* Increase size by 20% */
  }
  /* css for audios */
  .audiosss{
    margin-top:50px;
  }
  





